<!-- FICHIER DE CONFIGURATION LOCAL NON IMPORTE SUR GIT -->
<web-app>

    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>

    <context-param>
        <param-name>url</param-name>
        <!--  URL DE VOTRE BASE SQL -->
        <param-value>jdbc:postgresql://psqlserv/but3</param-value>
    </context-param>

    <context-param>
        <param-name>login</param-name>
        <!--  LOGIN DE VOTRE BASE SQL -->
        <param-value>thomasdujardin2etu</param-value>
    </context-param>

    <context-param>
        <param-name>password</param-name>
        <!--  PASSWORD DE VOTRE BASE SQL -->
        <param-value>moi</param-value>
    </context-param>


</web-app>