/* Footer */
footer {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 10px;
    z-index: -1; /* Le footer en arrière-plan */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3, .footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ddd;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons li {
    list-style: none;
}

.social-icons li a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-icons li a:hover img {
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    border-top: 1px solid #0056b3;
    margin-top: 20px;
}